// GLOBAL ////////////////////////////////////
$h: 45px;

.fa-envelope {
    font-size: .93em !important;
}

.Button {
    text-align: left;
    + .Button {
        margin-top: 15px;
    }
    a {
        position: relative;
        display: block;
        padding-left: 20px;
        padding-right: 30px;
        height: $h;
        line-height: $h + 2;
        text-decoration: none;
        @include br;
        background-color: black(0.1);
        &:hover {
            background-color: black(0.2);
        }
        &:active {
            background-color: black(0.3);
        }
        .fa-angle-right {
            content: "";
            position: absolute;
            right: 10px;
            opacity: .5;
            top: 0;
            font-size: 30px;
            height: inherit;
            line-height: $h;
        }
        .fa-user {
            color: $online;
        }
        .fa-spin {
            display: none;
        }
    }
}

.Button--link{
    a {
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
        &:hover {
            background-color: black(0.2);
        }
        &:active {
            background-color: black(0.3);
        }
    }
}

.Button--loading {
    .fa-spin {
        display: inline-block !important;
    }
}

.Button--center {
    text-align: center;
}

.Text {
    position: relative;
    + .Text, + .Button {
        margin-top: 15px;
    }
    input[type="text"], input[type="mail"], input[type="password"], textarea {
        width: 100%;
        padding-left: 42px;
        height: $h;
        border: 0;
        padding-top: 3px;
        @include br;
        box-shadow: shadow(inset);
        &:focus {
            background-color: #E7FFD0;
        }
        @include placeholder {
            color: $ph;
            font-family: 'GothamRndLight', arial;
        }
    }
    i {
        position: absolute;
        left: 14px;
        top: 0;
        width: 19px;
        height: $h;
        line-height: $h;
        color: $ph;
        font-size: 1.2em;
    }
}

.List {
    margin-top: 20px;
    text-align: left;
    ol {
        @include br;
        overflow: hidden;
        counter-reset: say;
    }
    li {
        position: relative;
        color: #fff;
        + li {
            border-top: 1px solid black(0.16);
        }
        &:before {
            content: counter(say) ".";
            counter-increment: say;
            position: absolute;
            top: 0;
            left: 20px;
            height: $h;
            width: 20px;
            line-height: $h + 2;
            opacity: .4;
        }
    }
    a {
        overflow: hidden;
        display: block;
        height: $h;
        line-height: $h + 2;
        padding-right: 20px;
        padding-left: 36px;
        background-color: black(0.1);
        &:hover {
            background-color: black(0.2);
        }
        &:active {
            background-color: black(0.3);
        }
    }
}

.List__Name {
    float: left;
}

.List__Count {
    float: right;
}

// ZIKIRLER ////////////////////////////////////

.Zikir {
    @extend %Col--white;
}

.Zikir__Header {
    padding: 15px;
}

.Zikir__Footer {
    padding: 10px 15px;
    overflow: hidden;
    line-height: 1;
    background-color: #D5EBE9;
}

.Zikir__TotalOnline {
    float: left;
    width: 30%;
    text-align: left;
    .fa-user {
        color: $online;
    }
}

.Zikir__TotalCount {
    float: right;
    width: 70%;
    text-align: right;
    font-family: 'GothamRndMedium', arial;
}

// PROFIL ////////////////////////////////////

.Profil__Content {
    padding: 20px;
}

.Profil__Name {
    padding-bottom: 14px;
    border-bottom: 1px solid $light;
    font-size: 20px;
}

.Profil__Order {
    margin: 10px 0;
    opacity: .5;
    font-size: 14px;
}

.Profil__Info {
    opacity: .5;
    font-size: 14px;
}

.Profil__TotalCount {
    font-size: 25px;
    padding: 10px;
    @include br;
    background-color: $light;
}

// REGISTER & LOGIN ////////////////////////////////////

.Button--facebook {
    a {
        box-shadow: shadow();
        background-color: #3B5998;
        &:hover {
            background-color: #314D89;
        }
        &:active {
            box-shadow: none;
            background-color: #274178;
        }
    }
}

.Button--mail {
    a {
        background-color: #fff;
        color: #000;
        &:hover {
            background-color: #eee;
        }
        &:active {
            background-color: #ddd;
        }
    }
}

.Button--login {
    a{
        background-color: black(0.3);
    }
}



